* {
	background-size: cover;
	background-repeat: no-repeat;
}

.h1 {
    background-image: url('coffee_swirl.jpeg');
    height: 80vh;
}

h1 {
     text-align: center;
     color: white;
     padding: 0;
     margin: 0;
     background-color: rgb(221, 150, 55, 0.5);
}

.card-style {
    background-color: rgb(221, 150, 55, 0.5);
}

.shadows {   /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.shadows:hover {  /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

