* {
	/*padding: 10px;*/
	border: solid black 1px;
	margin: 10px;
}

.h1 {
	position: center;
	background-color: grey;
}

.drop-down {
    width: 45vw;
}

div.col-sm-12.col-md-10.col-lg-8 {
    height: 100vh;
    padding: 0;
    margin: 0;
}

form {
    background-color: grey;
}